html {
    background-color: #017890;
    background-image: url('../Images/MickeyTile.gif');
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}

body
{
    background-color: #017890;
    max-width:1024px;
    margin: auto;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }
