html {
    background-color: #017890;
    background-image: url('../Images/MickeyTile.gif');
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}

body
{
    max-width:1024px;
    background-color:#000000;
    color: #ffffff;
    margin:auto;
    padding: 0;
}
