@model HiddenMickeyProject.Models.Navigator

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Area</legend>

    <div class="display-label">
         Region
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegionName)
    </div>

    <div class="display-label">
         Area Name
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AreaName)
    </div>
</fieldset>
<p>
    @Html.RouteLink("Edit", "area_default", new { RegionName=Model.RegionName, AreaName=Model.AreaName, Action="Edit"}) |
    @Html.RouteLink("Back to List", "region_default", new { RegionName = Model.RegionName, Action="Details" })
</p>
