@model HiddenMickeyProject.Models.Navigator

@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Area</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.Partial("AreaEditPartial",Model)
}

<div>
    @Html.RouteLink("Back to List", "region_default", new { RegionName = Model.RegionName, Action="Details" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
