@using HiddenMickeyProject.Data
@using System.Collections
@model IEnumerable<Region>
@{
    ViewBag.Title = "Home Page";
}
<h1>Which Area are you visiting?</h1>
<ul class="nav nav-pills nav-stacked">
    @foreach (Region item in Model)
    {
        <li>@Html.RouteLink(item.RegionName, "start-hunt", new { RegionName=item.RegionName, AreaName=String.Empty})</li>       
    }
    <li>@Html.ActionLink("Go to Editors", "Index", "Region", new { Area = "Editor" }, new  { })</li>
</ul>

