@using HiddenMickeyProject.Data
@using System.Collections
@model IEnumerable<Region>
@{
    ViewBag.Title = "Home Page";
}
@Html.ActionLink("Go to Editors", "Index", "Region", new { Area = "Editor" }, new  { })
@Html.RouteLink("Go to Scavenger Hunt", "scavenger-hunt", new { RegionName="Epcot",AreaName="Future World"})
<h1>Which Area are you visiting?</h1>
<ul>
    @foreach (Region item in Model)
    {
       
    }
</ul>

