@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        Featured
    </section>
}
@Html.ActionLink("Go to Editors", "Index", "Region", new { Area = "Editor" }, new  { })

