@using HiddenMickeyProject.Data
@model HiddenMickeyProject.Models.Navigator
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Area Name</th>
                <th></th>
            </tr>
        </thead>
        @foreach (Area item in Model.Areas)
        {
            <tr>
                <td>@item.AreaName</td>
                <td>
                    @Html.RouteLink("Edit", "area_default", new { Action="Edit", AreaName = item.AreaName, RegionName = Model.RegionName }, null) | 
                    @Html.RouteLink("Details", "area_default", new { AreaName = item.AreaName, RegionName = Model.RegionName }) | 
                    @Html.RouteLink("Delete", "area_default", new { Action = "Delete", AreaName = item.AreaName, RegionName = Model.RegionName }, null)
                </td>
            </tr>
        }
    </table>
